<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tour_booking">

    <!-- Thêm các quyền về location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
       
        android:label="tour_booking"
        android:icon="@mipmap/ic_launcher">

        <!-- (Tuỳ chọn) Nếu bạn dùng Google Sign-In, khai báo clientId:
             Trong file strings.xml, bạn cần có:
               <string name="default_web_client_id">[Your Client ID].apps.googleusercontent.com</string>
        -->
        <meta-data
            android:name="com.google.android.gms.clientid"
            android:value="@strings/default_web_client_id" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Thông tin theme khởi động Flutter -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- (Tuỳ chọn) Nếu sử dụng deep link cho Google Sign-In, có thể thêm intent-filter như bên dưới:
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="com.googleusercontent.apps.YOUR_CLIENT_ID"
                    android:host="signin"
                    android:path="/callback" />
            </intent-filter>
            -->
        </activity>

        <!-- Meta-data phục vụ Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- Giới hạn hiển thị các app có thể xử lý text (theo hướng dẫn package-visibility) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
